/*Global*/ 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
    color: #3d3d3d;
    background-color: #f3f2f2;
    text-align: center;
}
    
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
    
section {
    padding: 96px 0;
}
 
/*Navigation*/

nav {
    background: url(https://i.postimg.cc/JhJSYKwq/pexels-spencer-selover-428338.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh; 
    position: relative;
}

.nav-title {
    color: #2d3436;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 40px;
    align-items: baseline;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation li {
    margin: 0 20px 0 0;
    position: relative;
    display: inline-block;
}
    
.navigation a {
    text-decoration: none;
    color: #2d3436;
}

a:hover {
    color: #2d3436;
}  

.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
    position: relative;
}
    
.navigation ul li ul  {
    display: none;
}
    
.navigation li:hover ul {
    display: block;
    position: absolute;
    background-color: #fff;
}
    
.navigation li:hover ul li {
    display: block;
    text-align: center;
}
    
.navigation li ul li a {
    color: #CAD3C8;
}   

.navigation li ul li  {
    display: block;
    padding: 5px 24px;
}

.navigation li ul {
    left: 50%;
    transform: translateX(-50%);
}  

.nav-main {
    position: absolute;
    color: #2d3436;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-main h2 {
    color: #fff;
    font-size: 38px;
}

.nav-text {
    font-size: 48px;
    color: #55efc4;
}

.nav-btn {
    outline: none;
    background: transparent;
    color: #55efc4;
    padding: 15px 36px;
    border-radius: 6px;
    border: 3px solid #55efc4;
 }